<%= form_with model: comment, url: member_post_comments_path(current_member, post) do |form| %>
  <article class="media py-4 my-4" style="border-style:solid;border-color:#cdcdcd;border-width:0.1px 0px;">
    <figure class="media-left">
      <p class="image is-48x48">
        <%= render "members/thumb", member: current_member %>
      </p>
    </figure>
    <div class="media-content">
      <div class="field">
        <div class="control">
          <%= form.text_field :text, class: "input", autocomplete: "Comment" %>
        </div>
      </div>
      <div class="control">
        <%= form.submit class: "button is-link is-light" %>
      </div>
    </div>
  </article>
<% end %>