<%= form_with model: [@member, @post, comment] do |form| %>

  <div class="form-group m-3">
    <%= form.text_field :text, class: "form-control m-2 w-75", placeholder: "Comment" %>
  </div>

  <%= form.submit class:'btn btn-secondary mx-4' %>
<% end %>