<%= form_with model: Comment.new, url: url do |form| %>
  <div class="field">
    <div class="control">
      <%= form.text_field :text, class: "input", autocomplete: "Comment" %>
    </div>
  </div>
  <div class="control">
    <%= form.submit class: "button is-link is-light" %>
  </div>
<% end %>