<%= turbo_stream_from current_member.id, id %>
<div id=<%= id %>>
  <% instance_variable_get("@#{id}").each do |analytic| %>
    <%= render partial: "#{id}", locals: Hash[id.singularize.to_sym, analytic] %>
  <% end %>
</div>
