<%= turbo_stream_from current_member.id, analytics %>
<div id=<%= analytics %>>
  <% instance_variable_get("@#{analytics}").each do |analytic| %>
    <%= render partial: "#{analytics}", locals: Hash[analytics.singularize.to_sym, analytic] %>
  <% end %>
</div>
