<%= tag.div id: dom_id(counter_analytic) do %>
  <p>
    Action: <%= counter_analytic.action %> 
    Count: <%= counter_analytic.count %> 
    created: <%= counter_analytic.created_at %>
  </p>
<% end %>