<%= tag.div id: dom_id(counter_analytic),
  data: {
    chart_target: "counterAnalytic",
    action: counter_analytic.action.titleize,
    count: counter_analytic.count,
    created: counter_analytic.created_at.strftime("%Y-%m-%d")
  } do %>
  <p class="is-hidden">
    action: <%= counter_analytic.action %> 
    count: <%= counter_analytic.count %> 
    created: <%= counter_analytic.created_at %>
  </p>
<% end %>