<div class="card m-3 border-0">
  <div class="row g-0">
    <div class="col-md-1">
      <img src=<%= user.photo %> class="img-fluid rounded" alt="user photo">
    </div>
    <div class="col-md-11">
      <div class="card m-2">
        <div class="card-body">
          <h5 class="card-title"><%= user.name %></h5>
          <p class="card-text text-end" class="text-muted"><small>Number of posts: <%= user.post_counter %></small></p>
        </div>
      </div>
    </div>
  </div>
</div>