<% @users.each do |user| %>
  <div class="card m-3">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="https://c.tenor.com/uj4Cnt7RVE0AAAAM/fatdog-dog.gif" class="img-fluid rounded-start w-25" alt="user photo">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title"><%= link_to user.name, user, class: "text-decoration-none" %></h5>
          <p class="card-text" class="text-muted"><small>Number of posts: <%= user.post_counter %></small></p>
        </div>
      </div>
    </div>
  </div>
<% end %>
