<% if can? :update, comment %>
  <span>
    <span> · </span>
    <a>
      <i class="fa-solid fa-pen"></i>
    </a>
    <span> · </span>
    <%= link_to member_post_comment_path(comment.author, comment.post, comment), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } do %>
      <i class="fa-solid fa-trash"></i>
    <% end %>
  </span>
<% end %>
