<span>
  <a>
    <i id=<%= "comment_icon_#{post.id}" %> class="fa-regular fa-comment"></i>
  </a>
  <span> </span>
  <span id=<%= "comments_counter_#{post.id}" %>><%= post.comments_counter %></span>
</span>
