<span>
  <a data-controller="stimulus" data-stimulus-post-value=<%= post.id %> >
    <i id=<%= "new_comment_icon_#{post.id}" %>  data-action="click->stimulus#toggle_new_comment" class="fa-regular fa-comment"></i>
  </a>
</span>
