<% icon = post.likes.where(author_id: current_member).count.zero? ? "fa-regular" : "fa-solid" %>
<span>
  <a>
    <i id=<%= "like_icon_#{post.id}" %> class="<%= "#{icon}" %> fa-thumbs-up"></i>
  </a>
  <span> </span>
  <span id=<%= "likes_counter_#{post.id}" %> ><%= post.likes_counter %></span>
</span>
