.success {
  color: blue;
}

.error {
  color: red;
}

.bi-star,
.bi-star-fill {
  cursor: pointer;
  color: goldenrod;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-title {
  font-size: 1.5rem;
}
