<% columns = 0 %>
<% @members.each do |member| %>
  <% if (columns % 3).zero? %>
    <div class="columns">
  <% end %>

  <%= render "member", member: member %>
  
  <% columns += 1 %>
  <% if (columns % 3).zero? %>
    </div>
  <% end %>
<% end %>