<div class="columns is-multiline is-flex is-justify-content-space-evenly">
  <%= render "member", member: current_member %>
  <% @members.each do |member| %>
    <% unless member == current_member %>
      <%= render "member", member: member %>
    <% end %>
  <% end %>
</div>